@using Facility_Management_CEI.Controllers

@model IEnumerable<API.Models.AppUser>

@{
    ViewData["Title"] = "Building Personnel";
}

<h1>
    <english> Building Personnel</english>
    <arabic class="d-none">صفحة العاملين بالمنشأة</arabic>
</h1>
@if (ViewContext.HttpContext.User.IsInAnyRoles("SystemAdmin"))
{
<p>
    <a  href=@Url.Action("Register", "Account") class="btn btn-outline-primary" @*asp-action="Create"*@>
        <english> Create New</english>
        <arabic class="d-none">إنشاء مستخدم</arabic>
    </a>
</p>
    
}
<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col">
                <english> ID</english>
                <arabic class="d-none"> الكود</arabic>
            </th>
            <th class="text-center" scope="col">
                <english> @Html.DisplayNameFor(model => model.FirstName)</english>
                <arabic class="d-none"> الأسم الأول</arabic>
            </th>
            <th class="text-center" scope="col">
                <english> @Html.DisplayNameFor(model => model.LastName)</english>
                <arabic class="d-none"> الأسم الأخير</arabic>
            </th>
            <th class="text-center" scope="col">
                 <english> @Html.DisplayNameFor(model => model.Type)</english>
                 <arabic class="d-none"> نوع المستخدم </arabic>
            </th>
            <th class="text-center" scope="col">
                <english> @Html.DisplayNameFor(model => model.Building)</english>
                <arabic class="d-none"> المنشأة</arabic>
            </th>
            <th class="text-center" scope="col">
                <english>  @Html.DisplayNameFor(model => model.SuperId)</english>
                <arabic class="d-none"> كود المشرف</arabic>
               
            </th>
            <th class="text-center" scope="col">
                <english>Supervisor Name</english>
                <arabic class="d-none"> إسم المشرف</arabic>
            </th >
            @if (ViewContext.HttpContext.User.IsInAnyRoles("SystemAdmin"))
            {
                
                <th class="text-center" scope="col">
                    <english>Edit</english>
                    <arabic class="d-none">تعديل</arabic>
                </th>
            }
                <th class="text-center" scope="col">
                       <english>Details</english>
                       <arabic class="d-none">التفاصيل</arabic>
                </th>
            @if (ViewContext.HttpContext.User.IsInAnyRoles("SystemAdmin"))
            {
                <th class="text-center" scope="col">
                        <english>Delete</english>
                        <arabic class="d-none">مسح</arabic>
                </th>
                
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center" scope="col">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="text-center" scope="col">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="text-center" scope="col">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="text-center" scope="col">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td class="text-center" scope="col">
                @Html.DisplayFor(modelItem => item.Building.Id)
            </td>
            <td class="text-center" scope="col">
                @Html.DisplayFor(modelItem => item.SuperId)
            </td>
            <td class="text-center" scope="col">
                @Html.DisplayFor(modelItem => item.Super.FirstName) @Html.DisplayFor(modelItem => item.Super.LastName)
            </td>
            @if (ViewContext.HttpContext.User.IsInAnyRoles("SystemAdmin"))
            {
            <td class="text-center" scope="col">
                <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.Id">
                        <english>Edit</english>
                       <arabic class="d-none">تعديل</arabic>
                </a>
            </td>
            }

            <td class="text-center" scope="col">
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">
                   <english>Details</english>
                   <arabic class="d-none">التفاصيل</arabic>
                </a> 
            </td> 

            @if (ViewContext.HttpContext.User.IsInAnyRoles("SystemAdmin"))
            {
            <td class="text-center" scope="col">
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">
                   <english>Delete</english>
                   <arabic class="d-none"> مسح </arabic>
                </a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}