@model API.Models.Asset

@{
    ViewData["Title"] = "Assets Details";
}

<h1>
        <english> Assets Details</english>
    <arabic class="d-none">تفاصيل الأصول والموجودات بالمنشأة </arabic></h1>

<div>
@*    <h4>Asset</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">

              <english>   @Html.DisplayNameFor(model => model.Name)</english>
                <arabic class="d-none"> الاسم </arabic>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
                     <english>@Html.DisplayNameFor(model => model.Space)</english>
                <arabic class="d-none"> كود الفراغ </arabic>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Space.Id)
        </dd>
        <dt class = "col-sm-2">
                  <english>@Html.DisplayNameFor(model => model.Floor)</english>
                <arabic class="d-none"> كود الطابق </arabic>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-danger">
                       <english>Back to List</english>
                <arabic class="d-none"> العودة الى القائمة  </arabic></a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}