@model IEnumerable<API.Models.Asset>

@{
    ViewData["Title"] = "Assets List";
}

<h1>
    <english> Assets List</english>
    <arabic class="d-none">  قائمة الأصول والموجودات بالمنشأة   </arabic>
</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <english>   @Html.DisplayNameFor(model => model.Name)</english>
                <arabic class="d-none"> الاسم </arabic>
               
            </th>
            <th>
                <english>@Html.DisplayNameFor(model => model.Space)</english>
                <arabic class="d-none"> كود الفراغ </arabic>
                
            </th>
            <th>
                <english>@Html.DisplayNameFor(model => model.Floor)</english>
                <arabic class="d-none"> كود الطابق </arabic>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Space.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor.Id)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">
                    <english>Details</english>
                    <arabic class="d-none">  التفاصيل </arabic></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}