@model IEnumerable<API.Models.Floor>

@{
    ViewData["Title"] = "Floors List";
}

<h1>Floors List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FloorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.Id)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
