@model API.Models.Building

@{
    ViewData["Title"] = "Building Details";
}

<h1>
    <english>Building Details</english>
    <arabic class="d-none"> تفاصيل المنشأ</arabic>
</h1>

<div>
@*    <h4>Building Details</h4>*@
    <hr />
    <div class="float-right">
        <img src="~/assets/images/carousel/image1.jpg" class="rounded mx-auto d-block" alt="Details">
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            <english> ID</english>
            <arabic class="d-none"> الكود</arabic>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            <english> @Html.DisplayNameFor(model => model.Name)</english>
            <arabic class="d-none"> الإسم</arabic>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            <english>@Html.DisplayNameFor(model => model.Path)</english>
            <arabic class="d-none"> مسار الملف</arabic>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
    </dl>
</div>
<div>
       <a asp-action="Index" class="btn btn-danger" >
            <english> Back to List</english>
            <arabic class="d-none"> العودة للخلف </arabic>
       </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}