@model IEnumerable<API.Models.Building>

@{
    ViewData["Title"] = "Building List";
}

<h1> 
    <english> Building List</english>
    <arabic class="d-none"> قائمة المبنى</arabic>
</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <english> ID</english>
                <arabic class="d-none"> الكود</arabic>
            </th>
            <th>
                <english> @Html.DisplayNameFor(model => model.Name)</english>
                <arabic class="d-none"> الإسم</arabic>
            </th>
            <th>
                <english>@Html.DisplayNameFor(model => model.Path)</english>
                <arabic class="d-none"> مسار الملف</arabic>
            </th>
            <th>
                <english>Details</english>
                <arabic class="d-none"> التفاصيل</arabic>
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id"> 
                <english>Details</english>
                <arabic class="d-none"> التفاصيل</arabic></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}