@using Facility_Management_CEI.Controllers
@{
    ViewBag.Title = "Task List";
    ViewBag.pageTitle = "Tasks";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@model IEnumerable<API.Models.Task>

@{
    var tasks = (List<API.Models.Task>)ViewBag.ListOfTasks;
}
<head>
      <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    
    <link href="~/assets/libs/datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" >

</head>
  
        <div class="card text-center">
            <div class="card-header">
            <h3>List Of Tasks</h3>
            </div>
        </div>
       
<div class="mt-4">
    @if (ViewContext.HttpContext.User.IsInAnyRoles("Supervisor", "Manager", "SystemAdmin", "Inspector"))
  {

      <div class="form-group"> 
        <a asp-action="CreateTask" asp-route-id="" class="btn btn-outline-primary" >Create New Task </a>
      </div>
  }
  
   <div class="table-responsive">
     <table id="datatable" class="table" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
     <thead class="thead-dark">
            <tr>  
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Id          )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Description )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Status      )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Type        )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Priority    )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.CreatedById )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.IncidentId  )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.AssignedById)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.AssignedToId)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.FixingTime  )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Cost        )</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Comment     )</th>
            <th class="text-center" scope="col">Assign</th>
            <th class="text-center" scope="col">Details</th>
            <th class="text-center" scope="col">Edit</th>
            <th class="text-center" scope="col">Delete</th>
            </tr>  
        </thead>
        <tbody>
            @foreach (var task in tasks)
            {  
               <tr>
                <th class="text-center" scope="col">@task.Id          </th>
                <th class="text-center" scope="col">@task.Description </th>
                <th class="text-center" scope="col">@task.Status      </th>
                <th class="text-center" scope="col">@task.Type        </th>
                <th class="text-center" scope="col">@task.Priority    </th>
                <th class="text-center" scope="col">@task.CreatedById </th>
                <th class="text-center" scope="col">@task.IncidentId  </th>
                <th class="text-center" scope="col">@task.AssignedById</th>
                <th class="text-center" scope="col">@task.AssignedToId</th>
                <th class="text-center" scope="col">@task.FixingTime  </th>
                <th class="text-center" scope="col">@task.Cost        </th>
                <th class="text-center" scope="col">@task.Comment     </th>

                @if (ViewContext.HttpContext.User.IsInAnyRoles("Supervisor", "Manager", "SystemAdmin", "Inspector"))
                {
                    <th class="text-center" scope="col">
                       <a asp-controller="TaskPages" asp-action="Assign" asp-route-id="@task.Id" class="btn btn-outline-primary" >Assign</a>
                    </th> 

                    <th class="text-center" scope="col">
                       <a asp-controller="TaskPages" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-outline-primary" >Edit</a>
                    </th>   
                }
       
                @if (ViewContext.HttpContext.User.IsInAnyRoles("Supervisor", "Manager", "SystemAdmin", "Inspector","Agent"))
                {
                    <th class="text-center" scope="col">
                        <a  asp-controller="TaskPages" asp-action="Details" asp-route-id="@task.Id" class="btn btn-outline-info" >Details</a>            
                    </th > 
                }
       
                @if (ViewContext.HttpContext.User.IsInAnyRoles("Supervisor", "Manager", "SystemAdmin"))
                {
                    <th class="text-center" scope="col">
                       <a  asp-controller="TaskPages" asp-action="Delete" asp-route-id="@task.Id" class="btn btn-outline-danger" >Delete</a>
                    </th> 
                }
                
               </tr>
            }  
        </tbody>
     </table>  
   </div>
</div>

 <script>
     $(document).ready(function () {
            $('#datatable').DataTable();
        } );

 </script>