
@{
    ViewBag.Title = "Viewer";
}
@using System.Configuration
@using API.Models
@model Dictionary<int, Facility_Management_CEI.Controllers.ViewerParameter>
<h2>Agent Task</h2>

<head>
    <title>View as Agent</title>
    <script src="../Scripts/XBIM/xbim-viewer.debug.bundle.js"></script>
    <script src="../Scripts/XBIM/NavigationCube/xbim-navigation-cube-shaders.debug.js"></script>
    <script src="../Scripts/XBIM/NavigationCube/xbim-navigation-cube.debug.js"></script>
    <script src="../Scripts/XBIM/NavigationCube/xbim-navigation-cube-textures.debug.js"></script>
    <script src="../Scripts/XBIM/NavigationHome/xbim-navigation-home-textures.debug.js"></script>
    <script src="../Scripts/XBIM/NavigationHome/xbim-navigation-home.debug.js"></script>
    
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    
    <link href="~/assets/libs/datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" >

    <style>
        .table-hover > tbody > tr:hover {
            background-color: #D2D2D2;
        }
        thead tr{
            background-color: #343a40;
            box-shadow: 0px -2px #343a40;
            color: white;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-5">
        <div class="mb-3">
            <table id="UsersTable" class="w-100 table table-striped table-hover">
                    <thead>
                        <tr class="sticky-top">
                            <th>User ID</th>
                            <th>User Category</th>
                            <th>User Details</th>
                            <th>Load Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Agent in ViewBag.Agents)
                        {
                            <tr>
                                <th>@Agent.Id</th>
                                <td>Agent</td>
                                <td><button class="btn btn-info waves-effect waves-light">User Details</button></td>
                                <td><button class="btn btn-success waves-effect waves-light" onclick="ChangeData(@Agent.Id)">Show Tasks</button></td>
                            </tr>
                        }
                        @foreach (var Inspector in ViewBag.Inspectors)
                        {
                            <tr>
                                <th>@Inspector.Id</th>
                                <td>Inspector</td>
                                <td><button class="btn btn-info waves-effect waves-light">User Details</button></td>
                                <td><button class="btn btn-success waves-effect waves-light" onclick="ChangeDataInspector(@Inspector.Id)">Show Tasks</button></td>
                            </tr>
                        }
                        @foreach (var Supervisor in ViewBag.Supervisors)
                        {
                            <tr>
                                <th>@Supervisor.Id</th>
                                <td>Supervisor</td>
                                <td><button class="btn btn-info waves-effect waves-light">User Details</button></td>
                                <td><button class="btn btn-success waves-effect waves-light" onclick="ChangeDataSupervisor(@Supervisor.Id)">Show Tasks</button></td>
                            </tr>
                        }
                        @foreach (var Manager in ViewBag.Managers)
                        {
                            <tr>
                                <th>@Manager.Id</th>
                                <td>Manager</td>
                                <td><button class="btn btn-info waves-effect waves-light">User Details</button></td>
                                <td><button class="btn btn-success waves-effect waves-light" onclick="ChangeDataManager(@Manager.Id)">Show Tasks</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <table id="ItemsTable" class="w-100 table table-striped table-hover">
                <thead>
                    <tr class="sticky-top">
                        <th>Agent ID</th>
                        <th>Task ID</th>
                        <th>Asset Name</th>
                        <th>Details</th>
                        <th>Zoom To</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in ViewBag.Tasks)
                    {
                        <tr>
                            <th>@task.AssignedToId</th>
                            <th>@task.Id</th>
                            <td>@task.Incident.Asset.Name</td>
                            <td><button class="btn btn-info waves-effect waves-light">Details</button></td>
                            <td><button class="btn btn-success waves-effect waves-light" onclick="viewer.zoomTo(@task.Incident.AssetId)">Zoom To</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    <div class="col-7">
        <canvas id="viewer" height="650" style="width: 100%;
                                   object-fit: contain;"></canvas>
        <div style="position: absolute;
                    top: 8px;
                    right: 16px;
                    z-index:5" id="overlayDiv"></div>
        <script type="text/javascript">
            var viewer = new xViewer('viewer');
            viewer.load('../data/SampleHouse.wexbim');
            //viewer.load('@System.Configuration.ConfigurationManager.AppSettings["wexBIMFullPath"]');
            var navCube = new xNavigationCube();
            navCube.ratio = .1;
            viewer.addPlugin(navCube);
            viewer.start();
            viewer.defineStyle(0, [255,0,0,255])
            viewer.defineStyle(1, [255,160,16,255])
            viewer.defineStyle(2, [255,224,32,255])
            viewer.defineStyle(3, [0,255,0,255])
        </script>

        @*<script> 
                viewer.on('pick', function (args) {
                    var id = args.id;
                    viewer.setCameraTarget(id);
                    pickedId = id;
                });
        </script>*@
        
        <script>
                viewer.on('fps', function (fps) {
                    var overlayDiv = document.getElementById('overlayDiv');
                    if (overlayDiv) {
                        overlayDiv.innerHTML = "FPS: " + fps;
                    }
                });
        </script>

        <div>
            <label id="productId"> </label>
            <br />
            <label id="fps"> </label>
        </div>

@*        <script>
            // Arrays to hold the item id's depending on their priority
            var listOfSevere = [];
            var listOfHigh = [];
            var listOfMedium = [];
            var listOfLow = [];
            @foreach (var i in Model.Severe)
            {
                @:listOfSevere.push(@i);
            }
            @foreach (var i in Model.High)
            {
                @:listOfHigh.push(@i);
            }
            @foreach (var i in Model.Medium)
            {
                @:listOfMedium.push(@i);
            }
            @foreach (var i in Model.Low)
            {
                @:listOfLow.push(@i);
            }

            
            var animateBool = true;
            setInterval(animateObjects, 1000);
            function animateObjects() {
                if (animateBool) {
                    viewer.setStyle(0, listOfSevere);
                    viewer.setStyle(1, listOfHigh);
                    viewer.setStyle(2, listOfMedium);
                    viewer.setStyle(3, listOfLow);
                    animateBool = false;
                }
                else {
                    viewer.resetStyles()
                    animateBool = true;
                }
            }
        </script>*@

        <div>
            <button class="btn btn-primary" onclick="ToggleHighLightItems()">Toggle Highlight Items</button>
            <button class="btn btn-primary" onclick="ToggleHighLightSevere()">Toggle Highlight Severe</button>
            <button class="btn btn-primary" onclick="ToggleHighLightHigh()">Toggle Highlight High</button>
            <button class="btn btn-primary" onclick="ToggleHighLightMedium()">Toggle Highlight Medium</button>
            <button class="btn btn-primary" onclick="ToggleHighLightLow()">Toggle Highlight Low</button>
        </div>

        <div>
            <button onclick="CreateCanvas()">Clear</button>
            <button onclick="if (viewer) viewer.load('../data/SampleHouse.wexbim');">File 1</button>
            <button onclick="if (viewer) viewer.load('../data/Ahmed Fikry Arch.wexBIM');">File 2</button>
            <button onclick="if (viewer) viewer.load('../data/Mohammed Jamal Mahmoud Project arc 1.wexBIM');">File 3</button>
            <button onclick="if (viewer) viewer.load('../data/ITI-ITISV-B01-A.wexBIM');">File 4</button>
        
        </div>

        <div>
            <select id="cmbHide">
                <option value="noAction">No action</option>
                <option value="hideProduct">Hide product</option>
                <option value="hideType">Hide type</option>
                <option value="highlight">Highlight</option>
            </select>
            <button onclick="if (viewer) viewer.resetStates()">Show all</button>
            <script type="text/javascript">

                var timer = 0;

                viewer.on('pick', function (args) {
                    var id = args.id;
                    viewer.setCameraTarget(id);
                    pickedId = id;
                    document.getElementById('hiddenId').value = id;
                    var span = document.getElementById('productId');
                    if (span) {
                        span.innerHTML = "Selected Product Id = " + id;
                    }

                    var cmb = document.getElementById('cmbHide');
                    var option = cmb.value;
                    switch (option) {
                        case 'hideProduct':
                            viewer.setState(xState.HIDDEN, [args.id]);
                            break;
                        case 'hideType':
                            var type = viewer.getProductType(args.id);
                            viewer.setState(xState.HIDDEN, type);
                            break;
                        case 'highlight':
                            viewer.setState(xState.HIGHLIGHTED, [args.id]);
                            break;
                        default:
                            break;
                    }

                    var time = (new Date()).getTime();
                    if (time - timer < 200)
                        viewer.zoomTo(id);
                    timer = time;

                });
            </script>
            <input name="hiddenId" type="hidden" id="hiddenId" />
        </div>
    </div>
    </div>


    <script>

        function CreateCanvas() {
            var htmlContent = document.createElement('canvas');
            htmlContent.id = "viewer";
            htmlContent.width = "500";
            htmlContent.height = "300";
            document.getElementById("viewer").remove();
            var ParentElement = document.getElementById("content");
            ParentElement.insertBefore(htmlContent, ParentElement.firstChild);
            viewer = new xViewer('viewer');
            navCube = new xNavigationCube();
            navCube.ratio = .1;
            viewer.addPlugin(navCube);
            viewer.start();
            viewer.defineStyle(0, [255,0,0,255])
            viewer.defineStyle(1, [255,160,16,255])
            viewer.defineStyle(2, [255,224,32,255])
            viewer.defineStyle(3, [0,255,0,255])
        }

        var AgentItems = {
            @foreach(var Items in Model)
            {
                @Items.Key@:: [@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Items.Value.Severe)), @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Items.Value.High)), @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Items.Value.Medium)), @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Items.Value.Low))],
            }
        }

        var listOfSevere = [];
        var listOfHigh = [];
        var listOfMedium = [];
        var listOfLow = [];

        $.each(AgentItems, function(key, value) {
            listOfSevere = listOfSevere.concat(value[0]);
            listOfHigh = listOfHigh.concat(value[1]);
            listOfMedium = listOfMedium.concat(value[2]);
            listOfLow = listOfLow.concat(value[3]);
        })
        
        var listOfSevere2 = listOfSevere;
        var listOfHigh2 = listOfHigh;
        var listOfMedium2 = listOfMedium;
        var listOfLow2 = listOfLow;

        
        var animateSevereBool = true;
        function ToggleHighLightSevere() {                    
            animateSevereBool ? animateSevereBool = false : animateSevereBool = true;
        }
        
        var animateHighBool = true;
        function ToggleHighLightHigh() {
            animateHighBool ? animateHighBool = false : animateHighBool = true;
        }

        var animateMediumBool = true;
        function ToggleHighLightMedium() {
            animateMediumBool ? animateMediumBool = false : animateMediumBool = true;
        }

        var animateLowBool = true;
        function ToggleHighLightLow() {
            animateLowBool ? animateLowBool = false : animateLowBool = true;
        }
        
        var HighLightItemsBool = false;
        var animation;
        function ToggleHighLightItems() {
            if (HighLightItemsBool) {
                clearInterval(animation);
                viewer.resetStyles();
                HighLightItemsBool = false;
            }
            else {
                var animateBool = true;
                animation = setInterval(animateObjects, 1000);
                function animateObjects() {
                    if (animateBool) {
                        if(animateSevereBool) {
                            viewer.setStyle(0, listOfSevere);
                        }
                        if(animateHighBool) {
                            viewer.setStyle(1, listOfHigh);
                        }
                        if (animateMediumBool) {
                            viewer.setStyle(2, listOfMedium);
                        }
                        if (animateLowBool) {
                            viewer.setStyle(3, listOfLow);
                        }
                        animateBool = false;
                    }
                    else {
                        viewer.resetStyles()
                        animateBool = true;
                    }
                    HighLightItemsBool = true;
                }
            }  
        }
        
        $(document).ready(function () {
            $('#UsersTable').DataTable(
                {
                    "columnDefs": [
                    { "searchable": false, "targets": 1 }
                    ]
                }
            );
        } ); 

        $(document).ready(function () {
            $('#ItemsTable').DataTable(
                {
                    "columnDefs": [
                        { "searchable": false, "targets": [3,4] }
                    ],
                    dom: 'Blfrtip',
                    buttons : [
                        {
                            text: "Show All",
                            action: function ( e, dt, node, config ) {
                                    ShowAllData();
                            },
                            className: 'btn btn-primary waves-effect waves-light mr-1 mb-1'
                        },
                        {
      	                    extend: 'excelHtml5',
                            text: 'Save as excel sheet',
                            className: 'btn btn-primary waves-effect waves-light mr-1 mb-1'
                        }
                    ],
                    "search": {regex: true}
                }    
            );
        } );

        function ShowAllData() {
            var itemsTable = $("#ItemsTable").DataTable()
            itemsTable.column(0).search("").draw();
            listOfSevere = listOfSevere2;
            listOfHigh = listOfHigh2;
            listOfMedium = listOfMedium2;
            listOfLow = listOfLow2;
        }
        function ChangeData(Id) {
            var itemsTable = $("#ItemsTable").DataTable()
            itemsTable.column(0).search(Id).draw();
            listOfSevere = AgentItems[Id][0];
            listOfHigh = AgentItems[Id][1];
            listOfMedium = AgentItems[Id][2];
            listOfLow = AgentItems[Id][3];
        }
        
        var InspectorAgentsDic = {
            @foreach(var inspector in ViewBag.InspectorAgentsDic)
            {
                @inspector.Key@::@Html.Raw(Json.Serialize(inspector.Value)),
            }
        }
        
        function ChangeDataInspector(Id) {
            var agents = InspectorAgentsDic[Id]
            var Regex = "";
            listOfSevere = [];
            listOfHigh = [];
            listOfMedium = [];
            listOfLow = [];
            $(agents).each(function(index, value) {
                  Regex += value;
                  listOfSevere = listOfSevere.concat(AgentItems[value][0]);
                  listOfHigh = listOfHigh.concat(AgentItems[value][1]);
                  listOfMedium = listOfMedium.concat(AgentItems[value][2]);
                  listOfLow = listOfLow.concat(AgentItems[value][3]);
                  var isLastElement = index == agents.length -1;
                  if (isLastElement) {
                      return false;
                  }
                Regex += "|";
            });
            //itemsTable.column(0).search("24|25", true, false).draw();
            var itemsTable = $("#ItemsTable").DataTable()
            itemsTable.column(0).search(Regex, true, false).draw();
        }

        var SupervisorInspectorsDic = {
            @foreach(var supervisor in ViewBag.SupervisorInspectorsDic)
            {
                @supervisor.Key@::@Html.Raw(Json.Serialize(supervisor.Value)),
            }
        }

        function ChangeDataSupervisor(Id) {
            var inspectors = SupervisorInspectorsDic[Id]
            var agents = [];
            var Regex = "";
            listOfSevere = [];
            listOfHigh = [];
            listOfMedium = [];
            listOfLow = [];
            $(inspectors).each(function(index, value) {
                agents = agents.concat(InspectorAgentsDic[value]);
            });
            $(agents).each(function(index, value) {
                Regex += value;
                listOfSevere = listOfSevere.concat(AgentItems[value][0]);
                listOfHigh = listOfHigh.concat(AgentItems[value][1]);
                listOfMedium = listOfMedium.concat(AgentItems[value][2]);
                listOfLow = listOfLow.concat(AgentItems[value][3]);
                var isLastElement = index == agents.length -1;
                if (isLastElement) {
                    return false;
                }
                Regex += "|";
            });
            console.log(Regex)
            var itemsTable = $("#ItemsTable").DataTable()
            itemsTable.column(0).search(Regex, true, false).draw();
        }
        
        var ManagerSupervisorsDic = {
            @foreach(var manager in ViewBag.ManagerSupervisorsDic)
            {
                @manager.Key@::@Html.Raw(Json.Serialize(manager.Value)),
            }
        }
        
        function ChangeDataManager(Id) {
            var supervisors = ManagerSupervisorsDic[Id]
            var agents = [];
            var Regex = "";
            listOfSevere = [];
            listOfHigh = [];
            listOfMedium = [];
            listOfLow = [];            
            $(supervisors).each(function(index, value) {
                var inspectors = SupervisorInspectorsDic[value]
                $(inspectors).each(function(index, value) {
                    agents = agents.concat(InspectorAgentsDic[value]);
                });
            });
            $(agents).each(function(index, value) {
                Regex += value;
                listOfSevere = listOfSevere.concat(AgentItems[value][0]);
                listOfHigh = listOfHigh.concat(AgentItems[value][1]);
                listOfMedium = listOfMedium.concat(AgentItems[value][2]);
                listOfLow = listOfLow.concat(AgentItems[value][3]);
                var isLastElement = index == agents.length -1;
                if (isLastElement) {
                    return false;
                }
                Regex += "|";
            });
            console.log(Regex)
            var itemsTable = $("#ItemsTable").DataTable()
            itemsTable.column(0).search(Regex, true, false).draw();
        }
    </script>

</body>