@using API.Models

<div class="shadow-sm p-3 mb-4 bg-white rounded tab-pane" id="tab-table2">
    <table id="ItemsTable" class="w-100 table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <english>Agent ID</english>
                    <arabic class="d-none">كود العامل</arabic>
                </th>
                <th>
                    <english>Task ID</english>
                    <arabic class="d-none">كود المهمة</arabic>
                </th>
                <th>
                    <english>Agent Name</english>
                    <arabic class="d-none">اسم العامل</arabic>
                </th>
                <th>
                    <english>Asset Name</english>
                    <arabic class="d-none">اسم العنصر</arabic>
                </th>
                <th>
                    <english> Details</english>
                    <arabic class="d-none">التفاصيل</arabic>
                </th>
                <th>
                    <english> Zoom To</english>
                    <arabic class="d-none">تكبير/تصغير</arabic>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in ViewBag.Tasks)
            {
                <tr>
                    <th>@task.AssignedToId</th>
                    <th>@task.Id</th>
                    <th>@(((List<AppUser>)ViewBag.Agents).Where(x => x.Id == task.AssignedToId).Select(a => a.FirstName + "" + a.LastName).FirstOrDefault())</th>
                    <td>
                        @if(task.Incident.Asset != null)
                        {
                            @task.Incident.Asset.Name;
                        }
                        else
                        {
                            @task.Incident.Space.Name;
                        }
                    </td>
                    @*<td><button class="btn btn-info waves-effect waves-light">Details</button></td>*@
                    <td><a scope="col" asp-controller="TaskPages" asp-action="Details" asp-route-id="@task.Id" class="btn btn-info waves-effect waves-light" >Details</a></td>
                    <td><button class="btn btn-success waves-effect waves-light" onclick="viewer.zoomTo(@if(task.Incident.Asset == null){@task.Incident.AssetId} else {@task.Incident.SpaceId})">Zoom To</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#AgentsTable').DataTable(
            {
                "columnDefs": [
                    {
                        "searchable": false, "targets": [2, 3],
                    }
                ],
                "autoWidth": false,
                "columns": [
                    { "width": "15%" },
                    { "width": "45%" },
                    { "width": "20%" },
                    { "width": "20%" },
                ],
                "oLanguage": {
                   "sSearch": "<english>Search: </english><arabic class='d-none'>بحث: </arabic>"
                }
            }
        );
    } );        

    $(document).ready(function () {
    $('#ItemsTable').DataTable(
        {
            "columnDefs": [
                    { "searchable": false, "targets": [4, 5], },
                    { "targets": [0], "visible": false, }
            ],
            dom: '<"mb-2"B>lfrtip',
            buttons : [
                {
                    text: "Show All",
                    action: function ( e, dt, node, config ) {
                            ShowAllData();
                    },
                    className: 'btn btn-primary waves-effect waves-light mr-1'
                },
                {
      	            extend: 'excelHtml5',
                    text: 'Save as excel sheet',
                    exportOptions: {
                        columns: [ 0, 1, 2 , 3]
                    },
                    className: 'btn btn-primary waves-effect waves-light mr-1'
                }
            ],
            "search": {regex: true},
            "autoWidth": false,
            "columns": [
                { "width": "0%" },
                { "width": "15%" },
                { "width": "25%" },
                { "width": "20%" },
                { "width": "20%" },
                { "width": "20%" },
            ],
            "oLanguage": {
               "sSearch": "<english>Search: </english><arabic class='d-none'>بحث: </arabic>"
            },
            stateSave: true
        }    
    );
    } );
    var ItemsTableHeading = $("#BottomTableHeading")[0]
    
    function ShowAllData() {
        var itemsTable = $("#ItemsTable").DataTable()
        itemsTable.column(0).search("").draw();
        listOfSevere = listOfSevere2;
        listOfHigh = listOfHigh2;
        listOfMedium = listOfMedium2;
        listOfLow = listOfLow2;
        var Language = localStorage.getItem('language')
        if (Language == "english") {
            ItemsTableHeading.innerHTML = "<english>All Tasks</english><arabic class='d-none'>كل المهام</arabic>"
        }
        else {
            ItemsTableHeading.innerHTML = "<english class='d-none'>All Tasks</english><arabic>كل المهام</arabic>"
        }
    }
    
    function ChangeData(Id) {
        var itemsTable = $("#ItemsTable").DataTable()
        itemsTable.column(0).search(Id).draw();
        listOfSevere = AgentItems[Id][0];
        listOfHigh = AgentItems[Id][1];
        listOfMedium = AgentItems[Id][2];
        listOfLow = AgentItems[Id][3];
        ItemsTableHeading.innerText = "Tasks for Agent " + Id
        var Language = localStorage.getItem('language')
        if (Language == "english") {
            ItemsTableHeading.innerHTML = "<english>Tasks for Agent " + Id + "</english><arabic class='d-none'>مهام العامل رقم " + Id + "</arabic>"
        }
        else {
            ItemsTableHeading.innerHTML = "<english class='d-none'>Tasks for Agent " + Id + "</english><arabic>مهام العامل رقم " + Id + "</arabic>"
        }
    }

</script>

