@model IEnumerable<API.Models.SensorWarning>

@{
    ViewData["Title"]="SensorWarning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>SensorWarning</h2>

                <div class="mt-4">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-hover dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                                    <th>@Html.DisplayNameFor(model => model.Priority)</th>
                                    <th>@Html.DisplayNameFor(model => model.IssueDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.SensorId)</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td><a href="javascript: void(0);" class="text-body font-weight-bold">#SK3215</a></td>

                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IssueDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SensorId)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
       