@model IEnumerable<API.Models.SensorWarning>
    @{
    ViewData["Title"]="SensorWarning";
    Layout = "~/Views/_Shared/_Layout.cshtml";
    var x = ViewBag.AppUserId;
    var My_user =(List<API.Models.AppUser>) ViewBag.Users;
    var UserName =$"{My_user.FirstOrDefault(u=>u.Id==x).FirstName} {My_user.FirstOrDefault(u=>u.Id==x).LastName}" ;
    }

@*@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{*@
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
</head>

                <div class="card text-center">
                  <div class="card-header">
                    <h3>
                        <english>Sensors Warnings</english>
                        <arabic class="d-none">تنبيهات من المستشعرات</arabic>
                    </h3>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                        <english>Invistegate Sensors Warnings and Assing It to Incident.</english>
                        <arabic class="d-none">أفحص تنبيه المستشعر وحرره الى حادثة</arabic>
                    </p>
                  </div>
                </div>
                <div class="mt-4">
                    <div class="table-responsive">
                        <table id="datatable" class="table" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">
                                        <english>ID</english>
                                        <arabic class="d-none">الكود</arabic>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <english>@Html.DisplayNameFor(model => model.Priority)</english>
                                        <arabic class="d-none">الأهمية</arabic>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <english>Issue Date</english>
                                        <arabic class="d-none">وقت الحدوث</arabic>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <english>Sensor ID</english>
                                        <arabic class="d-none">كود المستشعر</arabic>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <english>@Html.DisplayNameFor(model => model.Description)</english>
                                        <arabic class="d-none">التوصيف</arabic>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <english>@Html.DisplayNameFor(model => model.Investigated)</english>
                                        <arabic class="d-none">تم الفحص</arabic>
                                     </th>
                                    <th class="text-center" scope="col">
                                        <english>Investigated Date</english>
                                        <arabic class="d-none">تاريخ الفحص</arabic>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <english>Invsetigated By</english>
                                        <arabic class="d-none">تم الفحص من قبل</arabic>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <english>@Html.DisplayNameFor(model => model.Comment)</english>
                                        <arabic class="d-none">ملاحظات</arabic>
                                    </th>
                                    <th class="text-center" scope="col">
                                        <english>Investigate</english>
                                        <arabic class="d-none">فحص التنبيه</arabic>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr >
                                    <td class="text-center" scope="col">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td class="text-center" scope="col">@Html.DisplayFor(modelItem => item.Priority)</td>
                                    <td class="text-center" scope="col">@Html.DisplayFor(modelItem => item.IssueDate)</td>
                                    <td class="text-center" scope="col">@Html.DisplayFor(modelItem => item.SensorId)</td>
                                    <td class="text-center" scope="col">@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td class="text-center" scope="col">@Html.DisplayFor(modelItem => item.Investigated)</td>
                                    <td class="text-center" scope="col">@Html.DisplayFor(modelItem => item.InvestigatDate)</td>
                                    <td class="text-center" scope="col">@UserName</td>
                                    <td class="text-center" scope="col">@Html.DisplayFor(modelItem => item.Comment)</td>
                                    <td class="text-center" scope="col">
                                    <a  asp-action="Investigate" class="btn btn-outline-primary"  asp-route-WarningId="@item.Id">
                                        <english>Investigate</english>
                                        <arabic class="d-none">فحص</arabic>
                                    </a> 
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
<script>
$(document).ready(function(){
    $('#datatable').DataTable();
}
);
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*}*@