@model API.Models.Sensor

@{
    ViewData["Title"] = "Sensors Details";
}

<h1>
        <english>   Sensor Details </english>
        <arabic class="d-none">  تفاصيل المستشعر </arabic>
</h1>
<hr />

<div class="row">
@*    <h4>Sensor</h4>*@
    
    <div class="col-md-4">
    <dl class="row">
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.Id)</english>
            <arabic class="d-none">كود المستشعر</arabic>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.Name)</english>
            <arabic class="d-none">اسم المستشعر</arabic>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.SensorType)</english>
            <arabic class="d-none">نوع المستشعر</arabic>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SensorType)
        </dd>
        <dt class="col-sm-3">
             <english> Space @Html.DisplayNameFor(model => model.Space.Id)</english>
            <arabic class="d-none">كود الغرفه</arabic>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.Id)
        </dd>

        <dt class="col-sm-3">
             <english>Space @Html.DisplayNameFor(model => model.Space.Name)</english>
            <arabic class="d-none">اسم الغرفه</arabic>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.Name)
        </dd>

        <dt class="col-sm-3">
                <english> Asset @Html.DisplayNameFor(model => model.Asset.Id)</english>
                <arabic class="d-none">كود العنصر</arabic>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Id)
        </dd>
                <dt class = "col-sm-3">
                <english> Asset @Html.DisplayNameFor(model => model.Asset.Name)</english>
                <arabic class="d-none">اسم العنصر</arabic>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Name)
        </dd>
    </dl>
    </div>
    <div class="m-auto col-sm-4 mw-100">
        <img src="~/assets/images/Sensors.jpg" class="rounded mx-auto d-block" alt="Details">
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-success waves-effect">
        <english>Back to List</english>
        <arabic class="d-none">العودة الى القائمة</arabic>
     </a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}