@model IEnumerable<API.Models.Sensor>

@{
    ViewData["Title"] = "Sensors List";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
 <div class="card text-center">
   <div class="card-header">
     <h3>Sensors List</h3>
   </div>
   <div class="card-body">
     <p class="card-text">Our Building Sensors </p>
   </div>
 </div>
 <div class="mt-4">
     <div class="table-responsive">
         <table id="datatable" class="table" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
             <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Name) </th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.SensorType)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Space)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Asset)</th>
            <th class="text-center" scope="col">Details Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.SensorType) </td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.Space.Id)</td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.Asset.Id)</td>
            <td class="text-center">
                <a asp-action="Details" class="btn btn-outline-primary"  asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>