@model IEnumerable<API.Models.Space>

@{
    ViewData["Title"] = "Spaces List";
}

<h1>
    <english> Spaces List</english>
     <arabic class="d-none">قائمة الفراغات  </arabic>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <english>  @Html.DisplayNameFor(model => model.Id)</english>
                <arabic class="d-none"> كود الغرفه  </arabic>
            </th>
            <th>
                <english>  @Html.DisplayNameFor(model => model.Name)</english>
                <arabic class="d-none"> اسم الغرفه  </arabic>
            </th>

            <th></th><!--this is for the deatails button-->
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">
                    <english> Details</english>
                    <arabic class="d-none">  التفاصيل  </arabic>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}