@model API.Models.Incident
@using API.Enums
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h2><english>Deleting Incident</english><arabic class="d-none">حذف الحادثة</arabic></h2>
<h3><english>Would you like to continue?</english><arabic class="d-none">هل تريد الإستمرار؟</arabic></h3>
<hr />
<div class="row">
<div class="col-sm-4">
    <dl class="row">
        <dt class="col-sm-3">
            <english>ID</english>
            <arabic class="d-none">الكود</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
           <english>@Html.DisplayNameFor(model => model.Description)</english>
            <arabic class="d-none">الوصف</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.Status)</english>
            <arabic class="d-none">الحالة</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.Priority)</english>
            <arabic class="d-none">الأهمية</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-3">
            <english>Reporting Time</english>
            <arabic class="d-none">وقت الإبلاغ</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ReportingTime)
        </dd>
        <dt class="col-sm-3">
             <english>Sensor Warning ID</english>
            <arabic class="d-none">كود تنبيه المستشعر</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SensorWarningId)
        </dd>
        <dt class="col-sm-3">
            <english>Space ID</english>
            <arabic class="d-none">كود الفراغ</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SpaceId)
        </dd>
                <dt class="col-sm-3">
            <english>User ID</english>
            <arabic class="d-none">كود المستخدم</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AppUserId)

            @if(Model.AppUser.Type==UserType.AccountManager)
            {
                <img src="~/Photos/AccountManager.png" width ="20" hight="20" alt="Details">
            }
            @if(Model.AppUser.Type==UserType.Owner)
            {
                <img src="~/Photos/Owner.png" width ="30" hight="30" alt="Details">
            }
            @if(Model.AppUser.Type== UserType.Manager)
            {
                <img src="~/Photos/Manager.png" width ="30" hight="30" alt="Details">
            }
            @if(Model.AppUser.Type== UserType.Supervisor)
            {
                <img src="~/Photos/Supervisor.png" width ="30" hight="30" alt="Details">
            }
            @if(Model.AppUser.Type== UserType.Inspector)
            {
                <img src="~/Photos/Inspector.png" width ="30" hight="30" alt="Details">
            }
            @if(Model.AppUser.Type== UserType.Agent)
            {
                <img src="~/Photos/Agent.png" width ="25" hight="25" alt="Details">
            }

        </dd>
        <dt class="col-sm-3">
            <english>Asset ID</english>
            <arabic class="d-none">كود الأصل</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssetId)
        </dd>
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.Comment)</english>
            <arabic class="d-none">ملاحظات</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Comment)
        </dd>


    </dl>
    </div>
    <div class="m-auto col-sm-4 mw-100">
        <img src="~/assets/images/Delete-Work-Order.png" class="rounded mx-auto d-block" alt="Details">
    </div>
    </div>
    <english>
        <form asp-action="Delete">
        <input type="hidden" name=IncidentId asp-for=Id />
        <input class="btn btn-danger waves-effect" type="submit" value="Delete" /> |
        <a class="btn btn-success waves-effect" asp-action="Index">Back to List</a>
    </form>
    </english>
    <arabic class="d-none">
        <form asp-action="Delete">
        <input type="hidden" name=IncidentId asp-for=Id />
        <input class="btn btn-danger waves-effect" type="submit" value="حذف" /> |
        <a class="btn btn-success waves-effect" asp-action="Index">العودة إلى القائمة</a>
    </form>
    </arabic>
    
</div>