@using Facility_Management_CEI.Controllers
@model API.Models.Incident
@{
    ViewData["Title"] = "IncidentDetails";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <h1><english>Incident Details</english><arabic class="d-none">تفاصيل الحادثة</arabic></h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            <english>ID</english>
            <arabic class="d-none">الكود</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @*@Html.DisplayNameFor(model => model.Description)*@
            <english>@Html.DisplayNameFor(model => model.Description)</english>
            <arabic class="d-none">الوصف</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.Status)</english>
            <arabic class="d-none">الحالة</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.Priority)</english>
            <arabic class="d-none">الأهمية</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-3">
            <english>Sensor Warning ID</english>
            <arabic class="d-none">كود تنبيه المستشعر</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SensorWarningId)
        </dd> 
        <dt class="col-sm-3">
            <english>Asset ID</english>
            <arabic class="d-none">كود الأصل</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssetId)
        </dd>
        <dt class="col-sm-3">
            <english>Space ID</english>
            <arabic class="d-none">كود الفراغ</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SpaceId)
        </dd>
        <dt class="col-sm-3">
            <english>User ID</english>
            <arabic class="d-none">كود المستخدم</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AppUserId)
        </dd>
        <dt class="col-sm-3">
            <english>@Html.DisplayNameFor(model => model.Comment)</english>
            <arabic class="d-none">ملاحظات</arabic>
            
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    <div>
        @if (ViewContext.HttpContext.User.IsInAnyRoles("Supervisor", "Manager", "SystemAdmin"))
        {
            
        <a class="btn btn-primary" asp-action="EditOrAdd" asp-route-IncidentId="@Model.Id">
            <english>Edit</english>
            <arabic class="d-none">تعديل</arabic></a>
        }
        <a class="btn btn-danger" asp-action="Index">
            <english>Back</english>
            <arabic class="d-none">العودة إلى القائمة</arabic>

        </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@* <span asp-validation-for="Comment" class="text-danger"></span>*@
                

@*
 <form asp-controller="Account" asp-action="Login" method="post">
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@ @*we add this line after the form tag*@ 

@* <span asp-validation-for="Comment" class="text-danger"></span>*@ @*we add this line after the input tag*@ 
@*<english>Welcome Back !</english><arabic class="d-none">مرحبا !</arabic>*@
@*<english></english><arabic class="d-none"></arabic>*@