@using Facility_Management_CEI.Controllers
@model API.Models.Incident
@{
    ViewData["Title"] = "IncidentDetails";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <h1>Incident Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @*@Html.DisplayNameFor(model => model.Description)*@
            <english>@Html.DisplayNameFor(model => model.Description)</english>
            <arabic class="d-none">الوصف</arabic>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SensorWarningId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SensorWarningId)
        </dd> 
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AssetId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AssetId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SpaceId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SpaceId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AppUserId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AppUserId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    <div>
        @if (ViewContext.HttpContext.User.IsInAnyRoles("Supervisor", "Manager", "SystemAdmin"))
        {
            
        <a class="btn btn-primary" asp-action="EditOrAdd" asp-route-IncidentId="@Model.Id">Edit</a>
        }
        <a class="btn btn-danger" asp-action="Index">Back</a>
    </div>
</div>
